.advertisement
{
	width:100px;
	height:150px; 
	border-color:black;
	border-width:2px; 
	background-color:gray; 
	color:white;
	position: absolute;
    left: 20px;
    top: 20px;
}
.image img{
	float: left;
	width: 250px;
	margin-right: 10px;	
}
.logo{
	float: left;
	padding-right: 25px;
}
.main{
	text-align: justify;
}
.header{
	padding-bottom: 100px; 
	margin-left: 150px;
}
.content{
	width: 70%;
    margin:0 auto;
}
.head {
	text-align: center;
	margin-top: 50px;
	
}
div:last-child{
	width: 100%;
} 
